body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.parallax {
    height: 120vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Style each parallax section */
#place1 {
    background-image: url('ranchi.jpg');
}
#place2 {
    background-image: url('Baba_Dham.jpg');
}
#place3 {
    background-image: url('patratu_valley.jpg');
}
#place4 {
    background-image: url('Betla National Park safari Palamau Jharkhand India.jpg');
}
#place5{
    background-image: url('Jonha-falls.jpg');
}
#place6 {
    background-image: url('photo5.jpg');
}
#place7 {
    background-image: url('photo-92-160248-1.jpg');
}
#place8 {
    background-image: url('whatsapp-image-2020-10-10-at-82138-pm.jpeg');
}
#place9 {
    background-image: url('Rankini-Mandir.jpeg');
}
#place10 {
    background-image: url('about2.jpg');
}
/* Define similar styles for other places */
